{% extends 'base.html' %}


{% block title %} Blog Home
{% endblock title %}

{% block blogactive %} active{% endblock blogactive %}

{% block body %}

<div class="container my-4">
    <h3>Posts by coder's</h3>
    <hr>
    <div class="row">

    {% for post in allposts %}
        <div class="col-md-4">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">A Post by {{post.author}}</div>
                <div class="card-body text-success">
                    <h5 class="card-title">{{post.title}} </h5>
                    <p class="card-text">{{post.content}}.</p>

                    <div>
                        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">continue reading </a>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-success">updated on {{post.timeStamp}}</div>
            </div>

        </div>
        {% endfor %}


    </div>





</div>
{% endblock body %}